.export_a {
    color: white; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.modal-content table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.modal-content td, .modal-content th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.modal-content h4 {
    background-color: lightblue;
    padding: 8px;
}

.modal-content h2 {
    text-align: center;
}

.column_two {
  float: left;
  width: 50%;
}

.row_two:after {
  content: "";
  display: table;
  clear: both;
}
