{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/responsive_navbar.css' %}">

<style>
#header {
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
</style>

    <header style="margin: 0px; padding: 0px;">
        <section>
        <!-- <a href="" id="logo" target="_blank">TVGH Breast Center</a> -->
        <label for="toggle-1" class="toggle-menu" id="label-1"><ul><li></li> <li></li></ul></label>
        <input type="checkbox" id="toggle-1">
        
        <nav>
            <ul style="list-style: none;">
                <li style="list-style: none;"><a href="{% url 'admin:index' %}"  style="list-style: none; color: #fde428;"><i class="upload_csv"><img src="https://img.icons8.com/wired/64/000000/database-restore.png" width="42"></i>Import Data</a></li>
                <li style="list-style: none;"><a href="{% url 'browse' %}" style="list-style: none; color: #fde428;"><i class="browse"><img src="https://img.icons8.com/wired/64/000000/list.png" width="42"></i>Treatment Plan</a></li>
                <li style="list-style: none;"><a href="{% url 'develop' %}" style="list-style: none; color: #fde428;"><i class="develop"><img src="https://img.icons8.com/wired/64/000000/work.png" width="42"></i>Develop</a></li>
            </ul>
        </nav>
        </section>
    </header>




{% endblock %}

{% block nav-global %}{% endblock %}