{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/responsive_navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/modal_box.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/app.js' %}"></script>

        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>




    </head>

    <header>
        <section>
        <!-- <a href="" id="logo" target="_blank">TVGH Breast Center</a> -->
        <label for="toggle-1" class="toggle-menu" id="label-1"><ul><li></li> <li></li></ul></label>
        <input type="checkbox" id="toggle-1">
        
        <nav>
            <ul>
                <li><a href="{% url 'admin:index' %}"><i class="upload_csv"><img src="https://img.icons8.com/wired/64/000000/database-restore.png" width="42"></i>Import Data</a></li>
                <li><a href="{% url 'browse' %}"><i class="browse"><img src="https://img.icons8.com/wired/64/000000/list.png" width="42"></i>Treatment Plan</a></li>
                <li><a href="{% url 'develop' %}"><i class="develop"><img src="https://img.icons8.com/wired/64/000000/work.png" width="42"></i>Develop</a></li>
            </ul>
        </nav>
        </section>
    </header>

    <body>
        <div>
        {% block content %}{% endblock content %}
        </div>
    </body>

    <a href="https://icons8.com/icon/47783/list"></a>

</html>