{% extends "base.html" %}
{% load my_filter %}

{% block content %}

<head>
    <title>Browse Records</title>
</head>

    <div class="table-responsive">
        <table class="display" id="myDataTalbe">
            <thead>
                <tr>
                    <th scope="col">病歷號</th>
                    <th scope="col">生日</th>
                    <th scope="col">手術方式</th>
                    <th scope="col">病理分期 (pTNM)</th>
                    <th scope="col">病理T (pT)</th>
                    <th scope="col">病理N (pN)</th>
                    <th scope="col">病理型態</th>
                    <th scope="col">病理stage</th>
                    <th scope="col">pTsize(cm)</th>
                    <th scope="col">pNsize(cm)</th>
                    <th scope="col">臨床T (cT)</th>
                    <th scope="col">臨床N (cN)</th>
                    <th scope="col">臨床M (cM)</th>
                    <th scope="col">臨床stage (c stage)</th>
                    <th scope="col">cTsize(cm)</th>
                    <th scope="col">ALN num</th>
                    <th scope="col">ALN pos</th>
                    <th scope="col">GRADE(BR)</th>
                    <th scope="col">GRADE(Nuclear)</th>
                    <th scope="col">ER status</th>
                    <th scope="col">ER(%)</th>
                    <th scope="col">PR status</th>
                    <th scope="col">PR(%)</th>
                    <th scope="col">HER2(IHC)</th>
                    <th scope="col">HER2 status</th>
                    <th scope="col">FISH</th>
                    <th scope="col">MIB1(%)</th>
                    <th scope="col">乳癌子類別</th>
                    <th scope="col">放療</th>
                </tr>
            </thead>
            <tbody>
                {% for item in records %}
                    <tr> 
                        <td>
                            <a class="user-action-btn" 
                            id='{{ item.id }}' 
                            birth='{{ item.birth|add_xx }}' 
                            surgery_type='{{ item.surgery_type }}' 
                            pathology='{{ item.pathology }}' 
                            pathology_t='{{ item.pathology_t }}' 
                            pathology_n='{{ item.pathology_n }}' 
                            pathology_type='{{ item.pathology_type }}' 
                            pathology_stage='{{ item.pathology_stage }}' 
                            pt_size='{{ item.pt_size }}' 
                            pn_size='{{ item.pn_size }}' 
                            clinical_t='{{ item.clinical_t }}' 
                            clinical_n='{{ item.clinical_n }}' 
                            clinical_m='{{ item.clinical_m }}' 
                            clinical_stage='{{ item.clinical_stage }}' 
                            ct_size='{{ item.ct_size }}' 
                            aln_num='{{ item.aln_num }}' 
                            aln_pos='{{ item.aln_pos }}' 
                            grade_br='{{ item.grade_br }}' 
                            grade_nuclear='{{ item.grade_nuclear }}' 
                            er='{{ item.er }}' 
                            er_status='{{ item.er_status }}' 
                            pr='{{ item.pr }}' 
                            pr_status='{{ item.pr_status }}'                           
                            her2='{{ item.her2 }}' 
                            her2_status='{{ item.her2_status }}' 
                            mib1='{{ item.mib1 }}' 
                            fish='{{ item.fish }}' 
                            cancer_subgroup='{{ item.cancer_subgroup }}'  
                            radiotherapy='{{ item.radiotherapy }}'
                            treatment_list='{{ item.treatment_list }}' 
                            report_html='{{ item.report_html }}' 
                            >
                            {{ item.id }}
                            </a>
                        </td>
                        <td>{{ item.birth|add_xx }}</td>
                        <td>{{ item.surgery_type }}</td>
                        <td>{{ item.pathology }}</td>
                        <td>{{ item.pathology_t }}</td>
                        <td>{{ item.pathology_n }}</td>
                        <td>{{ item.pathology_type }}</td>
                        <td>{{ item.pathology_stage }}</td>
                        <td>{{ item.pt_size }}</td>
                        <td>{{ item.pn_size }}</td>
                        <td>{{ item.clinical_t }}</td>
                        <td>{{ item.clinical_n }}</td>
                        <td>{{ item.clinical_m }}</td>
                        <td>{{ item.clinical_stage }}</td>
                        <td>{{ item.ct_size }}</td>
                        <td>{{ item.aln_num }}</td>
                        <td>{{ item.aln_pos }}</td>
                        <td>{{ item.grade_br }}</td>
                        <td>{{ item.grade_nuclear }}</td>
                        <td>{{ item.er_status }}</td>
                        <td>{{ item.er }}</td>
                        <td>{{ item.pr_status }}</td>
                        <td>{{ item.pr }}</td>
                        <td>{{ item.her2 }}</td>
                        <td>{{ item.her2_status }}</td>
                        <td>{{ item.fish }}</td>
                        <td>{{ item.mib1 }}</td>
                        <td>{{ item.cancer_subgroup }}</td>
                        <td>{{ item.radiotherapy }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- The Pop Windows -->
    <div id="myModal" class="modal">

        <div class="modal-content">
          <span class="close">&times;</span> <!-- Closing the Pop windows-->

          <button id="saveOptions", onclick="call_save_options();">
            Save Options
          </button>

          <button id="exportPDF", onclick="call_export_PDF();">
            Export PDF
          </button>

          <div id="report_html">
          </div>

          <button id="saveOptions", onclick="call_save_options();">
            Save Options
          </button>

          <button id="exportPDF", onclick="call_export_PDF();">
            Export PDF
          </button>

    <script> 
 
        var change_checkbox = false;
        function input_click(checkbox) {
             if (!checkbox.checked){
                checkbox.removeAttribute("checked")
             }
             else
             {
                $(checkbox).attr("checked", "checked");
             }
             change_checkbox = true;
             localStorage.setItem("name", $('#inputName').val());
        }



        $(document).ready( function () {
            $('#myDataTalbe').DataTable();
        } );

        // When the user clicks on the button, open the modal
        (function() {
        var classname = document.getElementsByClassName("user-action-btn");

        var myFunction = function(e) {
            e.preventDefault();
            var report_html = this.getAttribute("report_html");
            document.getElementById('report_html').innerHTML=report_html;
            modal.style.display = "block";
        };

        for (var i = 0; i < classname.length; i++) {
            classname[i].addEventListener('click', myFunction, false);
        }
        })();

        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];


        function save_input() {
            var inputs = document.getElementsByTagName('input');
            var search_value = '';

            for(var i = 0; i < inputs.length; i++) {
                if(inputs[i].type.toLowerCase() == "search") {
                    search_value = (inputs[i].value);
                }
            }
            localStorage.setItem("search_value", search_value);
        }
        function get_input() {
            // If values are not blank, restore them to the fields
            var search_value = localStorage.getItem('search_value');
            var inputs = document.getElementsByTagName('input');

            for(var i = 0; i < inputs.length; i++) {
                if(inputs[i].type.toLowerCase() == "search") {
                    inputs[i].value = search_value;
                }
            }
        }


        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            if (change_checkbox) {
                save_input();
                location.reload(true);
            }

        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            if (change_checkbox) {
                save_input();
                location.reload(true);
                }
            }
        }

        // window.onload = function() {
        //     get_input();
        //     localStorage.setItem("search_value", '');
        // }

        function call_export_PDF() {
            var text = document.getElementById("report_html").innerHTML;
            $.ajax({
              type: "POST",
              url: "{% url 'export' %}",
              data: {'innerHTML': text, csrfmiddlewaretoken: '{{ csrf_token }}'},
              success: function(result){
                window.location.href = "/browse/download_file/"
              }
            });
        }

        function call_save_options() {
            var text = document.getElementById("report_html").innerHTML;

            $.ajax({
              type: "POST",
              url: "{% url 'save_options' %}",
              data: {'innerHTML': text, csrfmiddlewaretoken: '{{ csrf_token }}'},
              success: function(result){
                alert("Successfully saved.");
              }
            });

        }

        document.getElementById('exportPDF').addEventListener('click', function() {
            
        },

        );
    </script>

{% endblock content %} 