{% extends 'base.html' %}

{% block content %}

<div style="margin:20px">
    Extract Patterns from Raw Reports: 
    <button id="importReports", onclick="import_reports();">
        Extract
    </button>
</div>

<div style="margin:20px">
    Generate and Save PDFs for All Records: 
    <button id="generatePDF", onclick="generate_all_pdf();">
        Generate
    </button>
</div>

<div style="margin:20px">
    Update Data without Importing (Fixing): 
    <button id="update_without_import", onclick="update_without_import();">
        Update
    </button>
</div>


<script>
    $('#update_without_import').click(function(event){
        $.ajax({
            url: "{% url 'update_without_import' %}",
            success: function(result){
                alert("Successfully update.");
                location.reload();
            }
        });
    });
    
    $('#generatePDF').click(function(event){
        $.ajax({
            url: "{% url 'generate_all_pdf' %}",
            success: function(result){
                alert("Successfully update.");
                location.reload();
            }
        });
    });

    $('#importReports').click(function(event){
        $.ajax({
            url: "{% url 'import_reports' %}",
            success: function(result){
                alert("Successfully import.");
                location.reload();
            }
        });
    });
</script>

{% endblock content %} 