{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<head>
  <title>Filter Records</title>
</head>


  <form method="get">
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-2">
          {{ filter.form.case_id.label_tag }}
          {% render_field filter.form.case_id class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.birth.label_tag }}
          {% render_field filter.form.birth class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.clinical_t.label_tag }}
          {% render_field filter.form.clinical_t class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.clinical_n.label_tag }}
          {% render_field filter.form.clinical_n class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.clinical_m.label_tag }}
          {% render_field filter.form.clinical_m class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.clinical_stage.label_tag }}
          {% render_field filter.form.clinical_stage class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.surgery_type.label_tag }}
          {% render_field filter.form.surgery_type class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.pathology_t.label_tag }}
          {% render_field filter.form.pathology_t class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.pathology_n.label_tag }}
          {% render_field filter.form.pathology_n class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.pathology_type.label_tag }}
          {% render_field filter.form.pathology_type class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.pathology_stage.label_tag }}
          {% render_field filter.form.pathology_stage class="form-control" %}
        </div>

        <div class="form-group col-sm-1">
            {{ filter.form.aln_num.label_tag }}
            {% render_field filter.form.aln_num class="form-control" %}
        </div>
        <div class="form-group col-sm-1">
            {{ filter.form.aln_pos.label_tag }}
            {% render_field filter.form.aln_pos class="form-control" %}
        </div>

      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Filter
      </button>
<!--       <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-floppy-save"></span><a class="export_a" href="{% url 'export' %}">Export</a>
      </button> -->
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>case_id</th>
        <th>birth</th>
        <th>clinical_t</th>
        <th>clinical_n</th>
        <th>clinical_m</th>
        <th>clinical_stage</th>
        <th>surgery_type</th>
        <th>pathology_t</th>
        <th>pathology_n</th>
        <th>pathology_type</th>
        <th>pathology_stage</th>
        <th>aln_num</th>
        <th>aln_pos</th>
      </tr>
    </thead>
    <tbody>
      {% for record in filter.qs %}
        <tr>
          <td>{{ record.case_id }}</td>
          <td>{{ record.birth }}</td>
          <td>{{ record.clinical_t }}</td>
          <td>{{ record.clinical_n }}</td>
          <td>{{ record.clinical_m }}</td>
          <td>{{ record.clinical_stage }}</td>
          <td>{{ record.surgery_type }}</td>
          <td>{{ record.pathology_t }}</td>
          <td>{{ record.pathology_n }}</td>
          <td>{{ record.pathology_type }}</td>
          <td>{{ record.pathology_stage }}</td>
            <td>{{ record.aln_num }}</td>
            <td>{{ record.aln_pos }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}